<section class="product__details--tab__section section--padding">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <ul class="product__tab--one product__details--tab d-flex mb-30">
          <li class="product__details--tab__list active" data-toggle="tab" data-target="#description">Описание</li>
        </ul>
        <div class="product__details--tab__inner border-radius-10">
          <div class="tab_content">
            <div id="description" class="tab_pane active show">
              <div class="product__tab--content">
                <div class="product__tab--content__step mb-30">
                  <p class="product__tab--content__desc"><%= desc %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
