<div class="cookies-eu js-cookies-eu" id="popup-cookie-inner">
  <div class="popup-cookie">
    <div class="container">
      <div class="popup-cookie-inner">
        <div class="popup-cookie-block">
          <div class="popup-cookie-row"></div>
          <div class="popup-cookie-text">
            Наш сайт использует файлы cookie для работоспособности и
            улучшения качества обслуживания. Оставаясь на сайте вы соглашаетесь
            с политикой в отношении обработки персональных данных.
          </div>
        </div>
        <div class="popup-cookie-block">
          <div class="popup-cookie-buttons">
            <div class="popup-cookie-row"></div>
            <button class="popup-cookie__button button js-cookies-eu-ok" id="cookies-ok">
              Принять все
            </button>
            <button type="button" class="popup-cookie__button button">
              <a href="/privacy_policy">Подробнее</a>
            </button>
            <button class="popup-cookie__button button js-cookies-eu-cancel" id="cookies-cancel">
              Отменить все
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>