<div id="preloader">
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="animation-preloader">
      <div class="spinner"></div>
      <div class="txt-loading">
                    <span data-text-preloader="З" class="letters-loading">
                        З
                    </span>

        <span data-text-preloader="А" class="letters-loading">
                        А
                    </span>

        <span data-text-preloader="Г" class="letters-loading">
                        Г
                    </span>

        <span data-text-preloader="Р" class="letters-loading">
                        Р
                    </span>

        <span data-text-preloader="У" class="letters-loading">
                        У
                    </span>

        <span data-text-preloader="З" class="letters-loading">
                        З
                    </span>

        <span data-text-preloader="К" class="letters-loading">
                        К
                    </span>

        <span data-text-preloader="А" class="letters-loading">
                        А
                    </span>
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>