<div class="single__widget widget__bg">
  <h2 class="widget__title h3">Популярные продукты</h2>
  <div class="shop__sidebar--product">
    <% @top_rated_products.each do |product| %>
      <div class="small__product--card d-flex">
        <div class="small__product--thumbnail" style="width: 30%;">
          <a class="display-block" href="product-details.html">
            <% if product.photos.attached? %>
              <%= image_tag product.photos.first, class: 'product-img', alt: "product-img"%>
            <% else %>
              <img class="product-img" src="/assets/empty_img.jpg" alt="product-img">
            <% end %>
          </a>
        </div>
        <div class="small__product--content" style="width: 70%;">
          <h3 class="small__product--card__title">
            <a href="<%= product_path(product) %>"><%= product.name %></a>
          </h3>
          <div class="small__product--card__price">
            <span class="current__price">&#x20BD;<%= product.price %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
