<!-- Start breadcrumb section -->
<section class="breadcrumb__section breadcrumb__bg">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <div class="breadcrumb__content text-center">
          <ul class="breadcrumb__content--menu d-flex justify-content-center">
            <li class="breadcrumb__content--menu__items"><a href="<%= root_path %>">Главная</a></li>
            <li class="breadcrumb__content--menu__items"><span>О нас</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb section -->

<!-- Start about section -->
<section class="about__section section--padding mb-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about__thumb d-flex">
          <div class="about__thumb--items">
            <img class="about__thumb--img border-radius-5" src="/assets/agro_logo.png"  style="width: 135px; float: left;">
          </div>
          <div class="about__thumb--items position__relative">
            <span style="line-height: 5; font-size: 64px; padding-left: 10px; margin-top: -8px;">АгроМастер</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about__content">
          <span class="about__content--subtitle text__secondary mb-20">Почему выбирают нас</span>
          <h2 class="about__content--maintitle mb-25">ООО «Агромастер Тверь»</h2>
          <p class="about__content--desc mb-20">
            Наша компания - специализируется на поставке широкого ассортимента
            запчастей для тракторов, сельскохозяйственной и коммунальной техники, а также имеет большое
            разнообразие сопутствующих товаров — подшипники, ремкомплекты, масла, шины, аккумуляторы и
            многое другое.
          </p>
          <p class="about__content--desc mb-25">
            Наша компания имеет более чем десятилетний опыт на рынке, что подтверждает нашу надежность и
            качество услуг. Мы стремимся обеспечить клиентов высококачественной продукцией по доступным
            ценам и предлагаем гибкие условия сотрудничества.
          </p>
          <p class="about__content--desc mb-25">
            Мы готовы индивидуально подойти к каждому клиенту, учитывая его потребности.
            Мы предоставляем различные формы оплаты, а также возможность скидок и отсрочки платежа.
            Предоставляем удобные условия доставки заказанных запчастей в любые регионы России с
            использованием транспортных компаний. Наша компания работает только с проверенными
            поставщиками и гарантирует качество каждого продукта, который мы поставляем.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about section -->

<!-- Start counterup banner section -->
<div class="counterup__banner--section counterup__banner__bg2" id="funfactId">
  <div class="container">
    <div class="row row-cols-1 align-items-center">
      <div class="col">
        <div class="counterup__banner--inner position__relative d-flex align-items-center justify-content-between">
          <div class="counterup__items text-center">
            <h2 class="counterup__title">ЛЕТ <br> НА РЫНКЕ</h2>
            <span class="counterup__number js-counter" data-count="15">0</span>
          </div>
          <div class="counterup__items text-center">
            <h2 class="counterup__title">КВАЛИФИЦИРОВАННАЯ КОМАНДА <br><br> </h2>
            <span class="counterup__number js-counter" data-count="100">0</span>
          </div>
          <div class="counterup__items text-center">
            <h2 class="counterup__title">ДОВОЛЬНЫХ <br> КЛИЕНТОВ</h2>
            <span class="counterup__number js-counter" data-count="280">0</span>
          </div>
          <div class="counterup__items text-center">
            <h2 class="counterup__title">ЗАКАЗОВ <br> В МЕСЯЦ</h2>
            <span class="counterup__number js-counter" data-count="70">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End counterup banner section -->
