<div class="container-about">
  <nav>
    <ol class="breadcrumb-list">
      <%# <li class="breadcrumb-item" ><a href="/">Collections</a></li>
            <li class="breadcrumb-item"><a href="/products">Products</a></li> %>
      <li class="breadcrumb-item active" style="color:white">About & Contact</li>
    </ol>
  </nav>

  <br>
  <br>

  <div class="card" data-state="#about">
    <div class="card-header">
      <div class="card-cover" style="background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
      <img class="card-avatar" src="/assets/agro_logo.png" alt="avatar"/>
      <h1 class="card-fullname">Агро</h1>
      <h2 class="card-jobtitle">Мастер</h2>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">О компании</div>
          <p class="card-desc"> Текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
