<!-- Start breadcrumb section -->
<section class="breadcrumb__section breadcrumb__bg">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <div class="breadcrumb__content text-center">
          <ul class="breadcrumb__content--menu d-flex justify-content-center">
            <li class="breadcrumb__content--menu__items"><a href="<%= root_path %>">Главная</a></li>
            <li class="breadcrumb__content--menu__items"><span>Контакты</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb section -->

<!-- Start contact section -->
<section class="contact__section section--padding">
  <div class="container">
    <div class="contact__section--heading text-center mb-40">
      <h2 class="contact__section--heading__maintitle">Связаться</h2>
      <p class="contact__section--heading__desc">
        Мы ближе чем вы думаете
      </p>
    </div>
    <div class="main__contact--area position__relative">
      <div class="contact__form">
          <h3 class="contact__form--title mb-30">Свяжитесь со мной</h3>
        <form class="contact__form--inner" action="#">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="contact__form--list mb-20">
                <label class="contact__form--label" for="input1">Имя <span
                  class="contact__form--label__star">*</span></label>
                <input class="contact__form--input" name="firstname" id="input1"
                       placeholder="Ваше имя" type="text">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="contact__form--list mb-20">
                <label class="contact__form--label" for="input2">Фамилия <span
                  class="contact__form--label__star">*</span></label>
                <input class="contact__form--input" name="lastname" id="input2"
                       placeholder="Ваша фамилия" type="text">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="contact__form--list mb-20">
                <label class="contact__form--label" for="input3">Номер телефона <span
                  class="contact__form--label__star">*</span></label>
                <input class="contact__form--input" name="number" id="input3"
                       placeholder="Номер телефона" type="text">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="contact__form--list mb-20">
                <label class="contact__form--label" for="input4">Email <span
                  class="contact__form--label__star">*</span></label>
                <input class="contact__form--input" name="email" id="input4" placeholder="Email"
                       type="text">
              </div>
            </div>
            <div class="col-12">
              <div class="contact__form--list mb-15">
                <label class="contact__form--label" for="input5">Ваше сообщение <span
                  class="contact__form--label__star">*</span></label>
                <textarea class="contact__form--textarea" name="message" id="input5"
                          placeholder="Ваше сообщение">
                </textarea>
              </div>
            </div>
          </div>
          <button class="contact__form--btn primary__btn" type="submit">
            <span>Отправить</span>
          </button>
        </form>
      </div>

      <!-- НАШИ КОНТАКТЫ -->
      <div class="contact__info border-radius-5">
        <div class="contact__info--items">
          <h3 class="contact__info--content__title text-white mb-15">Наши контакты</h3>
          <div class="contact__info--items__inner d-flex">
            <div class="contact__info--icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="31.568" height="31.128"
                   viewBox="0 0 31.568 31.128">
                <path id="ic_phone_forwarded_24px"
                      d="M26.676,16.564l7.892-7.782L26.676,1V5.669H20.362v6.226h6.314Zm3.157,7a18.162,18.162,0,0,1-5.635-.887,1.627,1.627,0,0,0-1.61.374l-3.472,3.424a23.585,23.585,0,0,1-10.4-10.257l3.472-3.44a1.48,1.48,0,0,0,.395-1.556,17.457,17.457,0,0,1-.9-5.556A1.572,1.572,0,0,0,10.1,4.113H4.578A1.572,1.572,0,0,0,3,5.669,26.645,26.645,0,0,0,29.832,32.128a1.572,1.572,0,0,0,1.578-1.556V25.124A1.572,1.572,0,0,0,29.832,23.568Z"
                      transform="translate(-3 -1)" fill="currentColor"/>
              </svg>
            </div>
            <div class="contact__info--content">
              <p class="contact__info--content__desc text-white">
                Номер телефона
                <br>
                <a href="tel:+01234-567890">+01234-567890</a>
              </p>
            </div>
          </div>
        </div>
        <div class="contact__info--items">
          <h3 class="contact__info--content__title text-white mb-15">Email</h3>
          <div class="contact__info--items__inner d-flex">
            <div class="contact__info--icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="31.57" height="31.13"
                   viewBox="0 0 31.57 31.13">
                <path id="ic_email_24px"
                      d="M30.413,4H5.157C3.421,4,2.016,5.751,2.016,7.891L2,31.239c0,2.14,1.421,3.891,3.157,3.891H30.413c1.736,0,3.157-1.751,3.157-3.891V7.891C33.57,5.751,32.149,4,30.413,4Zm0,7.783L17.785,21.511,5.157,11.783V7.891l12.628,9.728L30.413,7.891Z"
                      transform="translate(-2 -4)" fill="currentColor"/>
              </svg>
            </div>
            <div class="contact__info--content">
              <p class="contact__info--content__desc text-white">
                <a href="mailto:info@example.com">info@example.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="contact__info--items">
          <h3 class="contact__info--content__title text-white mb-15">Офис находится</h3>
          <div class="contact__info--items__inner d-flex">
            <div class="contact__info--icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="31.57" height="31.13"
                   viewBox="0 0 31.57 31.13">
                <path id="ic_account_balance_24px"
                      d="M5.323,14.341V24.718h4.985V14.341Zm9.969,0V24.718h4.985V14.341ZM2,32.13H33.57V27.683H2ZM25.262,14.341V24.718h4.985V14.341ZM17.785,1,2,8.412v2.965H33.57V8.412Z"
                      transform="translate(-2 -1)" fill="currentColor"/>
              </svg>
            </div>
            <div class="contact__info--content">
              <p class="contact__info--content__desc text-white">
                Москва,
                Российская Федерация<br>
                ин 2997989.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- НАШИ КОНТАКТЫ -->
    </div>
  </div>
</section>
<!-- End contact section -->

<!-- Start contact map area -->
<div class="contact__map--area section--padding pt-0">
  <iframe  class="contact__map--iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2589.0086678651023!2d35.8011675771421!3d56.83546210808592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b687f5c2716965%3A0x2e0475610d40f6bd!2z0YPQuy4g0JHQvtGA0LjRhdC40L3QviDQn9C-0LvQtSwgNSwg0KLQstC10YDRjCwg0KLQstC10YDRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDE3MDA0MA!5e1!3m2!1sru!2sby!4v1710588782100!5m2!1sru!2sby"
    style="border:0;" allowfullscreen="" loading="lazy">
  </iframe>
</div>
<!-- End contact map area -->

