<% child_categories = Category.where(parent_id: category.category_id) %>

<% if child_categories.size > 0 %>
  <div class="single__widget widget__bg">
    <h2 class="widget__title h3">Категории</h2>
    <ul class="widget__categories--menu">
      <% child_categories.each do |sub_category| %>
        <li class="widget__categories--sub__menu--list">
          <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
            <span class="widget__categories--sub__menu--text"><%= link_to sub_category.name, category_path(sub_category) %>  &#187;</span>
          </a>
        </li>
      <% end %>
      </li>
    </ul>
  </div>
<% end %>
