<div class="modal fade" id="examplemodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog quickview__main--wrapper modal-dialog-centered">
    <div class="modal-content quickview__main__content">
      <div class="modal-header quickview_m_header">
        <button type="button" class="btn-close quickview__close--btn" data-bs-dismiss="modal" aria-label="Close">✕</button>
      </div>
      <div class="modal-body quickview__inner">
        <div class="row row-cols-lg-2 row-cols-md-2">
          <div class="col">
            <div class="quickview__gallery">
              <div class="product__media--preview  swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/big-product/product1.webp"><img class="product__media--preview__items--img" src="/assets/product/big-product/product1.webp" alt="product-media-img"></a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/product/big-product/product1.webp" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/big-product/product2.webp"><img class="product__media--preview__items--img" src="/assets/product/big-product/product2.webp" alt="product-media-img"></a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/product/big-product/product2.webp" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/big-product/product3.webp"><img class="product__media--preview__items--img" src="/assets/product/big-product/product3.webp" alt="product-media-img"></a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/product/big-product/product3.webp" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/big-product/product4.webp"><img class="product__media--preview__items--img" src="/assets/product/big-product/product4.webp" alt="product-media-img"></a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/product/big-product/product4.webp" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/big-product/product5.webp"><img class="product__media--preview__items--img" src="/assets/product/big-product/product5.webp" alt="product-media-img"></a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/product/big-product/product5.webp" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product__media--nav swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="product__media--nav__items">
                      <img class="product__media--nav__items--img" src="/assets/product/small-product/product1.webp" alt="product-nav-img">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--nav__items">
                      <img class="product__media--nav__items--img" src="/assets/product/small-product/product2.webp" alt="product-nav-img">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--nav__items">
                      <img class="product__media--nav__items--img" src="/assets/product/small-product/product3.webp" alt="product-nav-img">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--nav__items">
                      <img class="product__media--nav__items--img" src="/assets/product/small-product/product4.webp" alt="product-nav-img">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--nav__items">
                      <img class="product__media--nav__items--img" src="/assets/product/small-product/product5.webp" alt="product-nav-img">
                    </div>
                  </div>
                </div>
                <div class="swiper__nav--btn swiper-button-next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" class=" -chevron-right">
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </div>
                <div class="swiper__nav--btn swiper-button-prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" class=" -chevron-left">
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <%= render 'shared/category/quick_view' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>